@import './size.scss';
@import './colors.scss';

.auth-unique * {
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
}



.auth-unique {
    margin: 0 auto;
    max-width: 500px;
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 15px $defaultColor;

    .form__logo-container {
        padding: 70px;
        color: $whiteColor;
        background: $defaultColor;

        .form__header {
            font-size: 2em;
            font-weight: 900;
            text-align: center;
            margin-bottom: 15px;
            text-transform: capitalize;
        }
    }

    .form__content {
        padding: 30px;
        background: $whiteColor;
    
        .form__input {
            width: 100%;
            padding: 10px;
            outline: none;
            font-size: 1em;
            margin: 20px auto;
            border-radius: 5px;
            background: $whiteColor;
            border: 2px solid $grayColor;
            transition: border-color 0.5s;
        }
    
        .form__input:focus {
            border-color: $defaultColor;
        }
    
        .form__input::placeholder {
            color: $grayColor;
        }

        .form-error {
            font-weight: 600;
            text-align: center;
            color: $errorColor;
        }

        .form-response {
            font-weight: 600;
            text-align: center;
            color: $defaultColor;
        }
    
        .form__button {
            width: 100%;
            border: none;
            outline: none;
            padding: 10px;
            cursor: pointer;
            font-weight: bold;
            border-radius: 5px;
            color: $whiteColor;
            background: $defaultColor;
        }
    
        .form__button:active {
            background: $grayColor;
        }
    
        .form__links {
            margin-top: 15px;
            text-align: center;

            .form__link {
                font-size: 0.9em;
                color: $linkColor;
                text-decoration: none;
            }
        }
    }
}