@import './colors.scss';

.MainListPage {
  border: 1px solid black;
}

.PostMainPage {
  border: 1px solid black;
}

.SortMainPage {
  border: 1px solid black;
  
}

.EditMainPage {
  border: 1px solid black;
}

.SingleMainPage {
  padding: 5px;
  border: 10px solid black;
}

.Main__List {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

.MainList__card {
  border: 5px solid black;
  margin: 1em;
  padding: 1em;

  button {
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    user-select: none;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    color: $whiteColor;
    border-radius: 56px;
    transition: all .3s;
    display: inline-block;
    text-decoration: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: $blueColor;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  }

  button:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }

  button:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }

  @media (min-width: 768px) {
    button {
      padding: 16px 48px;
    }
  }
}

.MainList__h1 {
  font-size: 2em;
}

.form__content {
  padding: 30px;
  background: $whiteColor;

  .form__input {
      width: 100%;
      padding: 10px;
      outline: none;
      font-size: 1em;
      margin: 20px auto;
      border-radius: 5px;
      background: $whiteColor;
      border: 2px solid $grayColor;
      transition: border-color 0.5s;
  }

  .form__input:focus {
      border-color: $defaultColor;
  }

  .form__input::placeholder {
      color: $grayColor;
  }

  .form-error {
      font-weight: 600;
      text-align: center;
      color: $redColor;
  }

  .form-response {
      font-weight: 600;
      text-align: center;
      color: $defaultColor;
  }

  .form__button {
      width: 100%;
      border: none;
      outline: none;
      padding: 10px;
      cursor: pointer;
      font-weight: bold;
      border-radius: 5px;
      color: $whiteColor;
      background: $defaultColor;
  }

  .form__button:active {
      background: $grayColor;
  }

  .form__links {
      margin-top: 15px;
      text-align: center;

      .form__link {
          font-size: 0.9em;
          color: $blackColor;
          text-decoration: none;
      }
  }
}

.form-container {
  padding: 00px 10px 10px 10px;
  background: $whiteColor;
  color: $defaultColor;
  margin: 50px auto;
  min-height: 200px;
  width: 80%;

  .form-header {
      margin: 00px;
      padding: 10px;
      border-bottom: 3px solid $grayColor;
      
      .head {
          color: $blackColor;
          font-size: 20px;
          font-weight: 900;
          display: inline-block;
          text-transform: uppercase;
      }
  }
  
  .sections-container {
      display: flex;
      margin: auto;
      width: 100%;

      .section-one {
          width: 30%;
          position: relative;
          
          .profile-picture {
              box-shadow: 00px 00px 10px 00px $grayColor;
              background: $whiteColor;
              border-radius: 50%;
              position: relative;
              overflow: hidden;
              cursor: pointer;
              height: 120px;
              width: 120px;
          
              img {
                  transform:translate(-0%, -50%);
                  position: absolute;
                  color: $defaultColor;
                  font-weight: 900;
                  font-size: 15px;
                  max-width: 100%;
                  height: auto;
                  width: auto;
                  top: 50%;
              }
          }
      }

      .section-two {
          width: 100%;
          position: relative;
          box-shadow: 00px 00px 10px 00px $grayColor;
          
          .form-fields {
              margin: auto;
              
              .attribute-container {
                  padding: 30px;
                  background-color: $whiteColor;
                  border: 1px solid $whiteColor;

                  .input-field {                    
                    width: 96%;
                    padding: 10px;
                    outline: none;
                    font-size: 1em;
                    border-radius: 5px;
                    background: $grayColor;
                    border: 2px solid $grayColor;
                    transition: border-color 0.5s;
                  }

                  button {
                      width: 98%;
                      border: none;
                      padding: 09px;
                      outline: none;
                      cursor: pointer;
                      font-size: 15px;
                      font-weight: 900;
                      margin: 20px auto;
                      color: $whiteColor;
                      background: $defaultColor;
                  }

                  .result-container {
                    font-weight: 900;
                    text-align: center;
                    color: $greenColor;
                  }
              }
          }
      }
  }
}
