
/* Desktop only styles  */
@media only screen and (min-width: 768px) {
  body {
    background-color: pink;
  }
  .App {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "header"
      "navpage"
      "searchpage"
      "homepage"
      "footerpage";
  }
  .Header {
    grid-area: header;
  }
  .NavPage {
    grid-area: navpage;
  }
  .SearchPage {
    grid-area: searchpage;
  }
  .HomePage {
    grid-area: homepage;
  }
  .FooterPage {
    grid-area: footerpage;
  }
}

/* Mobiles only styles  */

.App {
  text-align: center;
  padding: 1em;
}

.h1 {
  font-size: 1em;
  border-block: black;
}





/* component box  */

.SingleCoursePage {
  border: 1px solid red;
}


.SearchPage {
  border: 1px solid blue;
  padding: 1em;
}
.Header {
  border: 1px solid blue;
  padding: 1em;
}

.NavPage {
  border: 1px solid blue;
  padding: 1em;
}
.FooterPage {
  border: 1px solid blue;
  padding: 1em;
}
.HomePage {
  border: 1px solid blue;
  padding: 1em;
}


/* CourseList.js  styles   */

.CourseListPage {
  border: 1px solid red;
}

.Courses__List {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}
.CourseList__card {
  border: 1px solid black;
  margin: 1em;

  padding: 1em;
}
.CourseList__h1 {
  font-size: 2em;
}



/* StudentList.js Page   */

.StudentPage {
  border: 1px solid blue;
  padding: 1em;
}

.Students__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}
.Student__card {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
}


/* TopicList.js Page   */

.TopicListPage {
  border: 1px solid blue;
  padding: 1em;
}

.Topic__List {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}
.TopicList__card {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
}


/* SortStudent.js    */

.SortStudentPage {
  border: 1px solid red;
}

/* SortTopics.js   */

.SortStudentPage {
  border: 1px solid red;
}

/* SortCourse.js   */

.SortCoursePage {
  border: 1px solid black;
  
}
