.CourseListPage {
    border: 1px solid red;
  }

  .SortCoursePage {
    border: 1px solid black;
    
  }
  
.SingleCoursePage {
    border: 10px solid red;
  }
  .Courses__List {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
  }
  .CourseList__card {
    border: 5px solid black;
    margin: 1em;
  
    padding: 1em;
  }
  .CourseList__h1 {
    font-size: 2em;
  }
  