.LessonListPage {
    border: 1px solid red;
  }

  .SortLessonPage {
    border: 10px solid black; 
  }
  
.SingleLessonPage {
    border: 10px solid red;
  }

  .EditLessonPage {
    border: 10px solid red;
  }
  .Lesson__List {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
  }
  .LessonList__card {
    border: 5px solid black;
    margin: 1em;
  
    padding: 1em;
  }
  .lessonList__h1 {
    font-size: 2em;
  }
  