.QuestionListPage {
  border: 1px solid black;
}

.SortQuestionPage {
  border: 1px solid black;
}

.SingleQuestionPage {
  border: 1px solid black;
}

.EditQuestionPage {
  border: 1px solid black;
}

.PostQuestionPage {
  border: 1px solid black;
}
.Question__List {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}
.QuestionList__card {
  border: 2px solid black;
  margin: 1em;

  padding: 1em;
}
.QuestionList__h1 {
  font-size: 2em;
}
