.StudentListPage {
    border: 1px solid black;
  }

  .DeleteStudentPage {
    border: 1px solid black;
  }
  
  
  .SortStudentPage {
    border: 1px solid black;
  }
  
  .SingleStudentPage {
    border: 1px solid black;
  }
  
  .EditStudentPage {
    border: 1px solid black;
  }
  
  .PostStudentPage {
    border: 1px solid black;
  }
  .StudentList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
  }
  .StudentList__card {
    border: 2px solid black;
    margin: 1em;
  
    padding: 1em;
  }
  .StudentList__h1 {
    font-size: 2em;
  }
  