.TopicListPage {
    border: 1px solid black;
  }

  .DeleteTopicPage {
    border: 1px solid black;
  }
  
  
  .SortTopicPage {
    border: 1px solid black;
  }
  
  .SingleTopicPage {
    border: 1px solid black;
  }
  
  .EditTopicPage {
    border: 1px solid black;
  }
  
  .PostTopicPage {
    border: 1px solid black;
  }
  .TopicList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
  }
  .TopicList__card {
    border: 2px solid black;
    margin: 1em;
  
    padding: 1em;
  }
  .StudentList__h1 {
    font-size: 2em;
  }
  