.TutorListPage {
    border: 1px solid black;
  }

  .DeleteTutorPage {
    border: 1px solid black;
  }
  
  
  .SortTutorPage {
    border: 1px solid black;
  }
  
  .SingleTutorPage {
    border: 1px solid black;
  }
  
  .EditTutorPage {
    border: 1px solid black;
  }
  
  .PostTutorPage {
    border: 1px solid black;
  }
  .TutorList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
  }
  .TutorList__card {
    border: 2px solid black;
    margin: 1em;
  
    padding: 1em;
  }
  .TutorList__h1 {
    font-size: 2em;
  }
  