@import 'react-toastify/dist/ReactToastify.css';
@import './assets/style/quizQuestions.scss';
@import './assets/style/colors.scss';
@import './assets/style/navBar.scss';
@import './assets/style/auth.scss';
@import './assets/style/page.scss';
@import './assets/style/form.scss';

body {
  margin: 0;
  padding: 0;
  background: $blueActiveColor;
  font-family: 'Nunito', sans-serif;

  zoom: 0.8;
  zoom: 80%;
  -moz-transform: scale(0.8, 0.8);

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px $blueActiveColor inset !important;
  }
}

.Toastify__toast-container {
  z-index: 100;
  width: 380px;
  font-size: 15px;
  font-weight: 900;

  .Toastify__toast--success {
    font-size: medium;
    text-align: center;
    color: $greenColor;
    background: $grayColor;
  }
  
  .Toastify__toast--info {
    color: $blueColor;
    text-align: center;
    background: $grayColor;
  }

  .Toastify__toast--warning {
    text-align: center;
    color: $yellowColor;
    background: $grayColor;
  }

  .Toastify__toast--error {
    color: $redColor;
    text-align: center;
    background: $grayColor;
  }         
}

.paginate-angles {
  font-size: 25px;
  cursor: pointer;
  margin: -14px auto;
  padding: 11px 15px;
  border-radius: 05px 05px 05px 05px;
}
