@import './assets/style/navBar.scss';
@import './assets/style/auth.scss';
@import './assets/style/page.scss';

*, body {
    margin:10000000000;
    padding:0;
    font-family: 'Nunito', sans-serif;
}

